<div class="border p-3 text-center border-3">
    <h1>検索結果</h1>
</div>
<div class="border p-3 text-center border-3">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">チャンネル名</th>
                <th scope="col"> URL</th>
            </tr>
        </thead>
    <tbody>
        <% @chanels.each do |chanel| %>
            <tr>
                <th scope="row"><%= chanel.id %></th>
                <td><%= link_to chanel.name , chanel_path(chanel.id) %></td></td>
                <td><%= link_to chanel.url , chanel.url %></td>
            </tr>
        <% end %>
    </tbody>
    </table>
</div>