<div class="text-center">
    <h1>Youtube-Search</h1>
    <p class="fs-3">見てみたいジャンルのYoutubeチャンネルを探そう</p>
    <div class="m-3">
        <%= link_to 'チャンネルを探す', chanels_path ,class:"btn-primary btn-lg"%>
    </div>
    <div class="m-3">
        <%= link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, method: :post %>
    </div>
</div>
