<nav class="navbar navbar-expand-sm navbar-light bg-light m-3 ps-3">
    <a class="navbar-brand" href="#">Youtube-Search</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ms-2">
            <li class="nav-item active">
                 <%= link_to 'Top', root_path ,class:"nav-link"%>
            </li>
            <li class="nav-item">
                 <%= link_to 'チャンネルを探す', chanels_path ,class:"nav-link"%>
            </li>               
            <% if current_user %>
                <%= render 'layouts/logged_in' %> 
            <% else %>
                <%= render 'layouts/not_logged_in' %>
            <% end %>    
        </ul>
    </div>
</nav>